{% include 'incl/header.html' %}

{% if 'prev' in page %}
   <a id='prev' href="{{ page.prev.id }}{{ extension }}">Prev: {{ page.prev.title }}</a>
{% endif %}
{% if 'next' in page and page.next %}
   <a id='next' href="{{ page.next.id }}{{ extension }}">Next: {{ page.next.title }}</a>
{% endif %}

{% for word in page.keywords %}
   <span>{{ word[0] }}{% if word[1] %} - {{ word[1] }}{% endif %}</span>
{% endfor %}

{% for c in page.content %}
  {% if c.name == 'ol' %}
      <ol>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ol>
  {% endif %}
  {% if c.name == 'ul' %}
      <ul>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  {% if c.name == 'verbatim' %}
      <pre>
          {{ c.content[0] }}
      </pre>
  {% endif %}
  {% if c.name == 'aside' %}
      <div class="aside">
          {% for row in c.content %}
              {{ row }}
          {% endfor %}
      </div>
  {% endif %}
  {% if c.name == 'p' %}
      <p>
          {{ c.content[0] }}
      </p>
  {% endif %}
  {% if c.name == 'include' %}
      <b>{{ c.title }}</b><br>
      <b>{{ c.filename }}</b><br>
      <pre>
          {{ c.content[0] }}
      </pre>
  {% endif %}
  {% if c.name == 'image' %}
     <img src="{{ c.filename }}" title="{{ c.title }}" />
  {% endif %}
  {% if c.name == 'table' %}
      <table>
         <tr>
            {% for val in c.content.title %}
              <th>{{ val }}</th>
            {% endfor %}
         </tr>
         {% for row in c.content.rows %}
           <tr>
              {% for val in row %}
                <td>{{ val }}</td>
              {% endfor %}
           </tr>
         {% endfor %}
      </table>
  {% endif %}

{% endfor %}

{% include 'incl/footer.html' %}
